@import url("Static/css/header.css");
@import url("Static/css/global.css");
/* SECTION Hero Section */
/* 🎨 SECTION HERO */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light);
    overflow: hidden;
}

.hero-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('Static/img/bg.jpg') no-repeat center center/cover;
    filter: brightness(60%);
    z-index: -1;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    margin-top: 50px;
}

.hero h1 {
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero p {
    margin-bottom: 30px;
    color: #ddd;
}

.cta-button {
    background: var(--accent-red);
    color: var(--text-light);
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: var(--text-dark);
    color: var(--text-light);
    text-decoration: none;
}



/*SECTION SERVICES*/ 
.services {
    background: var(--light-bg);
    padding: 60px 10px;
    text-align: center;
}

.services h2 {
    color: var(--accent-color);
    margin-bottom: 30px;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: var(--text-dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
    color: var(--text-light);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: auto;
    border-radius: 10px;
    height: 15vh;
}

.card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: var(--accent-color);
}

.card p {
    font-size: 16px;
    margin-top: 10px;
    color: var(--text-light);
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}



/*SECTION VIDéOS*/
#video-background {
    position: relative;
    width: 100%;
    height: 60vh; /* 60% de la hauteur de la fenêtre */
    overflow: hidden;
    z-index: 0;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* La vidéo reste derrière le texte */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* La vidéo couvre entièrement la section */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Superposition semi-transparente */
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: var(--text-light);
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Remplir toute la section */
}

.content h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
}

.container_2 h1 {
    text-align: center;
}

.content p {
    font-size: 1.5rem;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }
}






/*SECTION XHO CHOOSE ME */
.container_2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

h2 {
    color: var(--primary-blue);
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.feature {
    background-color: var(--text-light);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature h3 {
    color: var(--primary-blue);
    margin-bottom: 10px;
}

.feature p {
    color: var(--text-dark);
}

.additional-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--text-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    max-width: 100%;
}



.additional-services ul {
    list-style-type: none;
    margin-top: 10px;
}

.additional-services li {
    color: var(--text-dark);
    margin-bottom: 10px;
}
.additional-services 
ul li::before {
    content: '✔'; /* Icône personnalisée */
    position: absolute;
    left: 0;
    color: var(--accent-red);
}

.cta {
    font-weight: bold;
    margin-bottom: 30px;
}

button {
    background-color: var(--primary-blue);
    color: var(--text-light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-dark);
    color: var(--text-light);
}

.contact-details {
    display: none;
    margin-top: 20px;
}

.contact-details p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 80%;
        margin-bottom: 20px;
    }
}

/*SECTION AVANTAGES*/
#advantages {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
}

.container_3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-weight: bold;
    color: var(--primary-blue);
    margin-bottom: 40px;
    opacity: 0;
    animation: slideInTop 1s forwards 0.5s; /* Animation de l'entrée du titre */
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    opacity: 0;
    animation: fadeInUp 1.5s forwards 1s; /* Animation de la liste des avantages */
}

.advantage {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 1.5s forwards 1.5s; /* Animation de chaque élément avec délai */
    transform: translateY(30px);
}

.advantage:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-blue);
}

.advantage .icon {
    font-size: 3rem;
    color: var(--primary-blue);
    margin-bottom: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: scaleUp 1s forwards; /* Animation pour l'icône */
}

.advantage:hover .icon {
    transform: scale(1.2);
    color: var(--primary-blue);
}

.advantage .text h4 {
    color: var(--black);
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.advantage .text p {
    color: #555;
    line-height: 1.7;
    transition: color 0.3s ease;
}

.advantage:hover .text p {
    color: #333;
}

@media (max-width: 992px) {
    .advantages-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .advantages-list {
        grid-template-columns: 1fr;
    }
}

/* Animation de fondu pour la section */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation du titre qui glisse du haut */
@keyframes slideInTop {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation de la liste et des éléments qui apparaissent avec un glissement vers le haut */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation de l'icône qui se met à l'échelle */
@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 768px) {
    .hero-background {
        height: 60vh; 
        font-size: 1.2rem;
        width: 100%;
        /* top: 50px; */
    }

    .hero-background .hero-content {
        padding: 15px; /* Moins de padding sur les petits écrans */
    }
}

@media screen and (max-width: 480px) {
    .hero-background {
        height: 50vh; /* Encore plus petit sur les très petits écrans */
        font-size: 1rem; /* Taille de texte encore réduite pour s'adapter à l'écran */
    }
    .hero-background.hero-content{
        padding: 10px; /* Moins de padding pour les très petits écrans */
    }
}





